<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
    h1{
      text-align: center;
    }
    .jumbotron{
      margin: 15px;
    }
  </style>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to the Homepage</h1><br>

        <h2>Fill out the TMAS form</h2>
        <p> To get to this form you can either add '/formpage' to the website address or click the following link:
            <a href="http://127.0.0.1:8000/formpage/"> TMAS Form </a></p>
        <h2>Fill out the Generalized Anxiety Disorder Form</h2>
        <p> To get to this form you can either add '/gadassessment' to the website address or click the following link:
            <a href="http://127.0.0.1:8000/gadassessment/"> GAD Form </a></p>

      </div>
    </div>
  </body>
</html>
